<div id='container'>
    <a href="/ailments">
        <div class="home">
            <img src="../imgs/cough.jpg">
            <h2>Shop By Ailments</h2>
        </div>
    </a>

    <a href="/herbs">
        <div class="home">
            <img src="../imgs/herbhome.jpg">
            <h2>Shop By Herbs</h2>
        </div>
    </a>

    <a href="/oils">
        <div class="home">
            <img src="../imgs/oils.jpg">
            <h2>Shop By Oils</h2>
        </div>
    </a>

    <a href="/sups">
        <div class="home">
            <img src="../imgs/supplements.jpg">
            <h2>Shop By Supplements</h2>
        </div>
    </a>

</div>