<!DOCTYPE>
<html>

<head>
    <title>Drea's Medicinal Herb Shop</title>
    <link rel="icon" href="/imgs/logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>

<body>

    <nav>
        <div class="header">
            <a href='/'>
                <img src="/imgs/logo.png">
                <h1> Drea's Medicinal Herb Shop</h1>
            </a>
            <a href="#">
                <img src="/imgs/shopping.png" alt="cart" id="cart" srcset="">
            </a>
        </div>
        <div id="menuitems">
            <a href="/ailments">
                Ailments
            </a>
            <a href="/herbs">
                Herbs
            </a>
            <a href="/oils">
                Essential Oils
            </a>
            <a href="/sups">
                Supplements
            </a>
            <br>
        </div>

    </nav>
<main>
    {{{ body }}}
</main>
    <div class="footer">
        <div class="contact">
            <h3>Contact Us</h3>
            <p> (404) 777-1111</p>
            <p>dreaswellness@gmail.com</p>
            <p>1111 Round There Atlanta, GA </p>
            <p>Mon - Fri: 8am - 7pm</p>
        </div>
        <div class="resources">
            <h3>Resources</h3>
                   <p> (404) 777-1111</p>
            <p>dreaswellness@gmail.com</p>
            <p>1111 Round There Atlanta, GA </p>
            <p>Mon - Fri: 8am - 7pm</p>
        </div>
        <div class="policies">
            <h3>Policies</h3>
                   <p> (404) 777-1111</p>
            <p>dreaswellness@gmail.com</p>
            <p>1111 Round There Atlanta, GA </p>
            <p>Mon - Fri: 8am - 7pm</p>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    {{!-- <script type="text/javascript" src="/script.js"></script> --}}
</body>

</html>