<!DOCTYPE>
<html>

<head>
    <title>Drea's Medicinal Herb Shop</title>
    <link href='https://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>

<body>

    <nav>
        <a href='/'>
            <h1> Drea's Medicinal Herb Shop</h1>
        </a>

        <div id="menuitems">
            <a href="/ailments">
                Ailments
            </a>
            <a href="/herbs">
                Herbs
            </a>
            <a href="/oils">
                Essential Oils
            </a>
            <a href="/supplements">
                Supplements
            </a>
            <br>
        </div>
    </nav>

    {{{ body }}}

    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    {{!-- <script type="text/javascript" src="/script.js"></script> --}}
</body>

</html>