	<main>
		<h2>All Herbs</h2>

		<div class="herbs-container">
			{{#each herbs}}
			<a href="/herbs/{{_id}}">
				<div class="herbs">
					<h3> {{ name }} </h3>
					<br>

					<img src="../imgs/{{ img }}" alt="" srcset="">
					<h4>${{price}} per pound </h4>
				</div>
			</a>
			{{/each}}
		</div>

		<br><br>

		<div class="forms">
			<div class="create">
				<p>Didn't Find What You Were Looking For?</p>
				<a href="/herbs/new">
					<input class="button" id="createbutton" type="submit" value="Request New Herb">
				</a>
			</div>
			<div class="deleteall">
				<p>Delete All Herbs and start from stratch!</p>
				<form action="/herbs/?_method=delete" method="POST">
					<input id="createbutton" class="button" type="submit" value="Delete All Herbs">
				</form>
			</div>
		</div>

	</main>