@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing|Lobster|Roboto');
*{
    text-decoration: none;
    outline: none;
    
}
html {
    margin:0;
    background: #414141;
}
nav{
    /* border: solid green; */
    margin: 0;
    /* height: 26%; */
    position: sticky;
    top: 0;
    background: #414141;
    color: white;
    line-height: .5;
}
nav img{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    /* border: solid purple;     */
}
#cart{
    height: 70px;
    width: 80px;
    padding-right: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    color: white;
}
h1{
    color: green;
    text-shadow:black 5px 5px 25px;
    font-size: 2.6em;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* border: solid purple; */
    font-family: 'Caesar Dressing', cursive;
}
h2{
    text-align: center;
    color: green;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h3{
    font-size: 2em;
    font-family: 'Lobster', cursive;
    color: green;
    margin: 12px 0;
    text-shadow: black 1px 1px 5px;
}
h4{
    font-size: 1.5em;
    margin: 6px 0;
    /* text-shadow: black 4px 3px 15px; */
    color: white;
    letter-spacing: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-shadow: black 1px 1px 5px;
}
p{
    font-weight: bolder;
    margin: 3px 10px;
    
}
img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
main{
    text-align: center;
    justify-content: center;
    background: white;
    
}
.herbs-container, .oils-container, .sups-container{
    display: flex;
    flex-wrap: wrap;
    
    /* margin: 0 15%; */
    justify-content: center;
    /* align-items: center; */
    /* border: solid black; */

}
.herbs, .oils, .sups{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.747);
    align-items: center;
    margin: 15px 20px;
    border-radius: 20px;
    padding: 5px;
    width: 300px;
    color: black;
}

.herb-container, .oil-container, .sup-container{
    margin: 0 10%;
    background: rgb(206, 206, 206);
    border-radius: 20px;
    padding: 20px;
}
.herb ul, .oil ul, .sup ul{
    list-style: none;
}
.herbs:hover, .oils:hover, .sups:hover{
    box-shadow: 3px 3px 15px;
}
#menuitems{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    /* border: solid black; */
    height: 50px;
}
#menuitems a {
    /* background: url('../imgs/menuicons.jpg');
    background-size: 100% 100%; */
    padding: 16px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: green 3px 3px 9px;
}
nav a{
    display:flex;
    align-items:center;
    justify-content: right;  
    color: white; 
}
/* #edit-form form{
    text-align: left;
} */
.buttons{
    display: flex;
    justify-content: space-around;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.button{
    height: 40px;
    width: 120px;
    font-size: 1.1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: black;
    border-radius: 10px;
    color: green;
}
.button:hover{
    box-shadow: green 5px 5px 10px;
}
#container{
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    /* border: palevioletred solid; */
}
.home{
    margin: 15px 10%;
    padding: 30px;
    border-radius: 10px;
    background: black;
    /* border: gray solid */

}
.home img{
    width: 400px;
    height: 300px;
}
.footer{
    /* height: 25%; */
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
/* .contact{
    font-size: 1em;
    margin: 20px;
} */
.footer p{
    color: white;
    padding: 2px;
    text-shadow: black 1px 1px 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
.footer span{
    color: green;
    font-family: 'Lobster', cursive;
    text-shadow: black 1px 1px 5px;
}