*{
    text-decoration: none;
}
h1{
    color: green;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: solid purple; */
}
h2, h3{
    text-align: center;
    color: green;
    font-weight: bolder;

}
h3{
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4{
    font-size: 1.5em;
    margin: 5px 0;
}
p{
    font-weight: bolder;
    margin: 3px 10px;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
main{
    text-align: center;
    justify-content: center;
    background: white;
}
.herbs-container{
    display: flex;
    flex-wrap: wrap;
    
    /* margin: 0 15%; */
    justify-content: center;
    /* align-items: center; */
    /* border: solid black; */

}
.herbs{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(206, 206, 206);
    align-items: center;
    margin: 15px 20px;
    border-radius: 20px;
    padding: 5px;
    width: 300px;
}
.herb-container{
    margin: 0 10%;
    background: rgb(206, 206, 206);
    border-radius: 20px;
    padding: 20px;
}
.herb ul{
    list-style: none;
}
.herbs:hover{
    box-shadow: 3px 3px 15px;
}
#menuitems{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    border: solid black;
}