<div class="background">
	<d>
		<h2>Search By Ailment or Benefit</h2>

		<div class="herbs-container">
			{{#each ailments}}
			<div class="herbs">
				<a href="/ailments/{{_id}}">
					<h3> {{ ailmentName }} </h3>
					<img src="../imgs/{{ img }}" alt="" srcset="">
				</a>
				{{!-- <h4>${{price}} per pound </h4> --}}
			</div>

			{{/each}}
		</div>
		<br><br>
		{{!-- <form action="" method="post"></form> --}}
		{{!-- <div class="create">
			<p>Didn't Find What You Were Looking For?</p>
			<a href="/herbs/new">
				<input type="submit" value="Request New Herb">
			</a>
		</div> --}}
		<div class="forms">
			<div class="create">
				<p>Didn't Find What You Were Looking For?</p>
				<a href="/ailments/new">
					<input class="button" id="createbutton" type="submit" value="Add Ailment or Benefit">
				</a>
			</div>
			<div class="deleteall">

				<p>Delete All Ailments/Benefits and start from stratch!</p>
				<form action="/ailments/?_method=delete" method="POST">
					<input id="createbutton" class="button" type="submit" value="Delete All">
				</form>
			</div>
		</div>
</div>