<main>

	<h2>Add an Herb!</h2>

	<a href="/herbs/">Return to Home Page</a>

	<div id="edit-form" class="herb-container-show">

<form action="/herbs" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name" value="" id="" placeholder="Enter Herb Name">
<br>
	<label for="description">Description</label>
	<input type="text" name="description" value="" id="" placeholder="Enter Herb Description">
<br>
	<label for="img">Image</label>
	<input type="file" name="img" value="img" placeholder="Upload Image">
<br>
	<label for="price">Price</label>
	<input type="number" name="price" value="" id="" placeholder="Enter Herb Price">
<br>
	<label for="qty">Uses</label>
	<input type="number" name="ailmentName" value="" id="" placeholder="Enter Herb Benefits">
<br>
<input type="submit" value="Request An Herb">
</form>


	</div>
</main>